<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script src="static/js/render3d/main.js"></script>
        <style>
            .text-center::before{
                content:"";
                /* margin-left:calc(100% - 75%); */
                text-align:center;
            }

            body{
	            font-family: "Segoe UI";
                color:#707070;
                margin:20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>3D Graphic Engine</h1>
                    <p sytle="font-size:15px;">三維平行投影圖像引擎</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 text-center">
                   <!-- <h3> select mesh: </h3> -->
                </div>
                <div class="col-md-10">
                    <select class="form-control" id = "mesh_selector">
                        <option value='1'>選擇顯示：　box</option>
                        <option value='2'>選擇顯示：　book</option>
                        <option value='3'>選擇顯示：　f(x, y) = sin(x / 3) * sin(y / 3)</option>
                    </select>
                    <p></p>
                </div>
                <div class="col-md-1">

                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <canvas id="mainCanvas" width="930"  height="500" style="border:1px solid #c5c0c0ce;"></canvas>
                    <!-- style="border:1px solid #c5c0c0;" -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p></p>
                    <p></p>
                    <p>　　　　　　>使用滑鼠拖拉可以旋轉視角，滑鼠滾輪可以縮放畫面!</p>
                    <a href="https://github.com/Amiannn/3D-Graph-Engine">　　　　　　>github：https://github.com/Amiannn/3D-Graph-Engine</a>
                </div>
            </div>
        </div>
        <script>
            initialize('/static/js/render3d/meshs/box.json');
        </script>
    </body>
</html>